name: Build Images

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions: {}

jobs:
  # Build a single-arch nginx image for each arch.
  build-nginx-on-all-arches:
    name: build-nginx-all-arches
    runs-on: ubuntu-latest

    permissions:
      contents: read

    strategy:
      fail-fast: false
      matrix:
        arch: [x86_64, aarch64]

    steps:
      - uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: 'go.mod'
          check-latest: true
      - name: Setup QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
      - run: |
          make apko
          ./apko build ./examples/nginx.yaml nginx:build /tmp/nginx-${{ matrix.arch }}.tar --arch ${{ matrix.arch }}

      - name: Check SBOM Conformance
        run: |
          set -euxo pipefail
          if ! ls *.spdx.json; then
            echo "no SBOMs found!"
            exit 1
          fi
          for f in *.spdx.json; do
            echo ::group::sbom.json
            cat $f
            echo ::endgroup::
            docker run --rm -v $(pwd)/$f:/$f --entrypoint "sh" cgr.dev/chainguard/wolfi-base -c "apk add spdx-tools-java && tools-java Verify /$f"
          done

  build-all-examples-one-arch:
    name: build-all-examples-amd64

    permissions:
      contents: read

    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}

    steps:
      - uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: 'go.mod'
          check-latest: true
      - uses: imjasonh/setup-crane@31b88efe9de28ae0ffa220711af4b60be9435f6e # v0.4
      - run: |
          make apko
          for cfg in $(find ./examples/ -name '*.yaml'); do
            name=$(basename ${cfg} .yaml)
            echo "Building ${name}..."
            build_script=$(dirname ${cfg})/build.sh
            if [ -f ${build_script} ]; then
              ${build_script} ./apko
            else
              ./apko build ${cfg} ${name}:build /tmp/${name}.tar --arch amd64
            fi
          done

  build-wolfi-source-date-epoch:
    name: source-date-epoch
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: 'go.mod'
          check-latest: true
      - uses: chainguard-dev/actions/setup-registry@5363dd9eb48083bbf7674a4bbe62d71c3b230edd # v1.1.2
        with:
          port: 5000

      - name: build image (w/ source date epoch)
        env:
          SOURCE_DATE_EPOCH: "0"
        run: |
          make apko
          FIRST=$(./apko publish ./examples/wolfi-base.yaml localhost:5000/wolfi --arch x86_64,aarch64 2> /dev/null)

          for idx in {2..10}
          do
            NEXT=$(./apko publish ./examples/wolfi-base.yaml localhost:5000/wolfi --arch x86_64,aarch64 2> /dev/null)

            if [ "${FIRST}" = "${NEXT}" ]; then
              echo "Build ${idx} matches."
            else
              echo "Build ${idx} differs: ${FIRST} and ${NEXT}"
              exit 1
            fi
          done

  build-wolfi-build-date-epoch:
    name: build-date-epoch
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: 'go.mod'
          check-latest: true
      - uses: chainguard-dev/actions/setup-registry@5363dd9eb48083bbf7674a4bbe62d71c3b230edd # v1.1.2
        with:
          port: 5000

      - name: build image (w/ build date epoch)
        run: |
          make apko
          # Without SOURCE_DATE_EPOCH set, the timestamp of the image will be computed to be
          # the maximum build date of the resolved APKs.
          FIRST=$(./apko publish ./examples/wolfi-base.yaml localhost:5000/wolfi --arch x86_64,aarch64 2> /dev/null)

          for idx in {2..10}
          do
            NEXT=$(./apko publish ./examples/wolfi-base.yaml localhost:5000/wolfi --arch x86_64,aarch64 2> /dev/null)

            if [ "${FIRST}" = "${NEXT}" ]; then
              echo "Build ${idx} matches."
            else
              echo "Build ${idx} differs: ${FIRST} and ${NEXT}"
              exit 1
            fi
          done

  annotations:
    name: annotations
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: 'go.mod'
          check-latest: true
      - uses: imjasonh/setup-crane@31b88efe9de28ae0ffa220711af4b60be9435f6e # v0.4
      - uses: chainguard-dev/actions/setup-registry@5363dd9eb48083bbf7674a4bbe62d71c3b230edd # v1.1.2
        with:
          port: 5000
      - run: |
          make apko

          # Build image with annotations.
          ref=$(./apko publish ./examples/nginx.yaml localhost:5000/nginx --arch x86_64,aarch64)

          # Check index annotations.
          crane manifest $ref | jq -r '.annotations.foo' | grep bar

          # Check per-image annotations.
          crane manifest --platform=linux/arm64 $ref | jq -r '.annotations.foo' | grep bar

          # Check per-image config labels.
          crane config --platform=linux/arm64 $ref | jq -r '.config.Labels' | grep bar
