name: ci

on:
  pull_request:
  push:

env:
  GO_VERSION: 1.17.x

jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v2.4.0

      - uses: actions/setup-go@fcdc43634adb5f7ae75a9d7a9b9361790f7293e2 # v2.1.5
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: build
        run: |
          make apko
          ./apko version

      - uses: goreleaser/goreleaser-action@68acf3b1adf004ac9c2f0a4259e85c5f66e99bef # v2.8.1
        with:
          version: v1.7.0
          install-only: true

      - name: snapshot
        run: |
          make snapshot
          ./dist/apko-build_linux_amd64/apko version
