name: mink e2e

on:
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  mink-e2e:
    name: apko task
    runs-on: ubuntu-latest

    env:
      KO_DOCKER_REPO: registry.local:5000/chainguard

    steps:
    - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v2.4.0

    - uses: actions/setup-go@d0a58c1c4d2b25278816e339b944508c875f3613 # v2.1.5
      with:
        go-version: 1.19
        check-latest: true

    - name: Setup QEMU
      uses: docker/setup-qemu-action@v2.1.0

    - uses: imjasonh/setup-ko@ace48d793556083a76f1e3e6068850c1f4a369aa # v0.4

    - uses: imjasonh/setup-crane@v0.2

    - uses: sigstore/cosign-installer@9becc617647dfa20ae7b1151972e9b3a2c338a2b # v2.3.0

    - uses: chainguard-dev/actions/setup-kind@main
      with:
        k8s-version: v1.22.x
        registry-authority: registry.local:5000

    - uses: chainguard-dev/actions/setup-mink@main
      with:
        version: 1.1.0

    - name: "Configure and install mink"
      run: |
        cat > $HOME/.mink.yaml <<EOF
        # Bundle source context to here by default!
        bundle: ${KO_DOCKER_REPO}/bundle:latest
        # Send the resulting image here by default!
        image: ${KO_DOCKER_REPO}/image:latest
        EOF

        mink install

    - name: Build and install apko task
      run: |
        make ko-apply

    - name: Build examples
      run: |
        for cfg in $(find ./examples/ -name '*.yaml'); do
          echo "::group:: $cfg"
          DIGEST=$(mink run task apko -- --path=$cfg)

          echo $cfg produced: $DIGEST

          # Each of the per-architecture images produced should have an SBOM attached to it.
          i=0
          for d in $(crane manifest "${DIGEST}" | jq -r '.manifests[].digest'); do
            cosign download sbom ${KO_DOCKER_REPO}/image@${d}
            i=$(($i+1))
          done

          # If more than one arch, the index should have an sbom
          if [ "$i" -gt "1" ]; then
            cosign download sbom ${DIGEST}
          fi

          echo ::endgroup::
        done

    - uses: chainguard-dev/actions/kind-diag@main
      if: ${{failure()}}
